@page "/about"

@using System.Diagnostics
@using System.Runtime.InteropServices
@using DotNetUtils.Win32.UserActivity
@using System.Reflection
@using GitHubApiUtils

@inject TetrisTools.Services.UserActivityMonitoringService UAM
@inject IGitHubApi GitHubApi

<div class="shadow p-3 mb-5 bg-white rounded" style="max-width: 500px;">
    <h4>Release Info</h4>
    <p>
        Current Version - @Version
    </p>

    @if (!string.IsNullOrWhiteSpace(LatestVersion))
    {
        <p>
            Latest Available Version - @LatestVersion <br />
            <a href="@LatestVersionUrl" target="_blank">@LatestVersionUrl</a>
        </p>
    }
    <button class="btn btn-info" @onclick="() => UpdateLatestRepoRelease()">Fetch Latest Release Info</button>
</div>

<div class="shadow p-3 mb-5 bg-white rounded" style="max-width: 500px;">
    <h4>Contact</h4>
    <p>
        Saurabh Srivastava <br />
        sobu86@outlook.com
    </p>
</div>

@code {

    private string _version;
    private string Version
    {
        get
        {
            if (_version == null)
            {
                _version = Assembly.GetExecutingAssembly().
                            GetCustomAttribute<AssemblyInformationalVersionAttribute>().
                                InformationalVersion;
            }
            return _version;
        }
    }

    private string LatestVersion;
    private string LatestVersionUrl;

    private async void UpdateLatestRepoRelease()
    {
        var latestRelease = await GitHubApi.GetLatestRepoRelease("sobu86", "TetrisTools");
        LatestVersion = latestRelease.TagName;
        LatestVersionUrl = latestRelease.HtmlUrl;
        StateHasChanged();
    }
}
